.product-view-main {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.product-image-carosel {
  width: 40%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.product-description {
  width: 60%;
  height: 100%;
  position: relative;
  padding: 2vw;
}

.display-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.product-rating {
  margin-top: -8%;
  margin-left: 70%;
}

.product-rating > div > div span {
  font-size: 1.5vw;
}

.display-image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 2vh;
  margin: 0 auto;
}

.image-grid-container {
  width: 100%;
  height: 10vh;
  padding-top: 8%;
  position: relative;
  align-items: center;
}

.image-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 1vw;
}

.image-grid img {
  width: 100%;
  height: 100%;
  border: 2px solid #dadada;
  border-radius: 1vh;
  margin: 0 auto;
}

/* .product-heading {
  padding: 5% auto;
} */

.product-heading h3 {
  font-size: 2vw;
}

.product-heading p {
  font-size: 1vw;
}

.product-description-table {
  position: relative;
  text-align: left;
  border-spacing: 2vh;
}

.product-description-table td {
  position: relative;
  padding: 0.5vh;
  padding-left: 3vw;
  font-size: 0.75vw;
}

.product-description-table th {
  font-size: 0.75vw;
}

@media (max-width: 1024px) {
  .product-view-main {
    flex-direction: column;
  }

  .display-image {
    border-radius: 2vw;
  }

  .product-image-carosel {
    width: 90%;
    padding: 5%;
  }

  .image-grid-container {
    width: 90%;
  }

  .product-description {
    padding-left: 5vw;
  }

  .product-description {
    width: 90vw;
  }

  .product-description-table td {
    font-size: 1.5vh;
  }

  .product-description-table th {
    font-size: 1.5vh;
  }

  .product-heading h3 {
    font-size: 3vh;
  }

  .product-heading p {
    font-size: 2vh;
  }

  .product-rating > div > div span {
    font-size: 2vh;
  }
}
