.product-view-main {
  height: 100%;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.product-image-carosel {
    width: 40%;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-description {
  width: 40%;
  height: 100%;
  position: relative;
}

.display-image {
  width: 100%;
  height: 40vh;
  position: relative;
  margin:7% 0
}

.product-rating {
    margin-top: -8%;
    margin-left: 75%;
}

.product-rating > div > div span{
    font-size:1.5vw
}


.display-image img {
    height: 100%;
    display: block;
    border-radius: 7px;
    margin: 0 auto
}

.image-grid-container {
    width: 100%;
    height: 8vh;
    position: relative;
    align-items: center;
}

.image-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 0.25vw
}

.image-grid img {
  height: 8vh;
  border: 2px solid #dadada;
  border-radius: 7px;
  margin: 0 auto
}

.product-heading {
  margin: 5% auto;
}

.product-heading h3 {
    font-size: 2vw
}

.product-heading p {
    font-size: 1vw
}

.product-description-table {
  position: relative;
  text-align: left;
  border-spacing: 2vh;
}

.product-description-table td{
  position: relative;
  margin: 2vh;
  padding-left: 3vw;
  font-size:0.75vw;
}

.product-description-table th {
    font-size: 0.75vw;
}

@media (max-width: 1024px) {
    .product-view-main {
        flex-direction: column;
    }

    .display-image {
        height: 60vw;
    }

    .product-image-carosel {
        width: 100vw;
    }

    .image-grid-container {
        width: 100vw;
    }

    .product-description {
        padding-left: 5vw
    }

    .image-grid img {
        height: 10vw;
    }

    .product-description {
        width: 90vw
    }

    .product-description-table td {
        font-size: 1.5vh;
    }

    .product-description-table th {
        font-size: 1.5vh;
    }

    .product-heading h3 {
        font-size: 3vh
    }

    .product-heading p {
        font-size: 2vh
    }

    .product-rating > div > div span {
        font-size: 2vh
    }
}